{% block content %}
<footer name="foot-main" class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-4 col-md">
                <ul class="list-unstyled text-small">
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <ul class="list-unstyled text-small">
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                </ul>
            </div> <div class="col-4 col-md">
                <ul class="list-unstyled text-small">
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                    <li><a href="" class="link-secondary"></a>Social</li>
                </ul>
            </div>
        </div>
</footer>

{% endblock content %}